body{
    background: linear-gradient(rgba(242, 130, 230, 0.5),rgba(0,0,255,0.5));
    height: 100vh;
}
h1{
    position: absolute;
    top: 0;
    left: 35%;
    color-interpolation: linearRGB;
    background: linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ffff00,#ff0000);
    background-size: 400%;
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 600%;
    }
}
table{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    border-collapse: inherit;
    border-spacing: 5px;
    background: linear-gradient(rgba(180,30,170,0.5),rgba(200, 130, 154, 0.5));
    color: black;
    border: 30px solid turquoise;
    border-radius: 10px;
}

tr{
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}
td{
    background: #a0d3e8;
    padding: 17px;


}
#but{

    padding: 0 95px 20px 40px;
    top: 50%


}
#but1{
    padding: 0 95px 20px 40px;
    top:  100%;

}
button{
    border-radius: 15px;
    border-top-color: #686868;
    border-left-color: #686868;
    background-color: #d079b9;
    width: 10px;
    height: 40px;
    font-size:30px;
    color: white;

}

button:hover{
    background-color: blue;

}

